In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\DATA ANALYSIS\EXCEL\DIRTY_DATASETS\supermarket_sales.csv")

In [4]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [5]:
specific_Branch = ['A', 'B']

df[df['Branch'].isin(specific_Branch)]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [6]:
df2 = df.set_index("Customer type")
df2

,Invoice ID,Branch,City,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Customer type,,,,,,,,,,,,,,,,
Member,750-67-8428,A,Yangon,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
Normal,226-31-3081,C,Naypyitaw,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
Normal,631-41-3108,A,Yangon,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
Member,123-19-1176,A,Yangon,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
Normal,373-73-7910,A,Yangon,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Normal,233-67-5758,C,Naypyitaw,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
Normal,303-96-2227,B,Mandalay,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
Member,727-02-1313,A,Yangon,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
Normal,347-56-2442,A,Yangon,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
Member,849-09-3807,A,Yangon,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [62]:
df2.filter(items = ['Member', 'Gender'], axis=1)

               Gender
Customer type
Member         Female
Normal         Female
Normal           Male
Member           Male
Normal           Male
...               ...
Normal           Male
Normal         Female
Member           Male
Normal           Male
Member         Female

[1000 rows x 1 columns]

In [8]:
df2.loc['Normal']

,Invoice ID,Branch,City,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Customer type,,,,,,,,,,,,,,,,
Normal,226-31-3081,C,Naypyitaw,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
Normal,631-41-3108,A,Yangon,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
Normal,373-73-7910,A,Yangon,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
Normal,699-14-3026,C,Naypyitaw,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
Normal,315-22-5665,C,Naypyitaw,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Normal,745-74-0715,A,Yangon,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
Normal,690-01-6631,B,Mandalay,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
Normal,233-67-5758,C,Naypyitaw,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
Normal,303-96-2227,B,Mandalay,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
Normal,347-56-2442,A,Yangon,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1

In [9]:
df
df[df['Rating'] < 8.0].sort_values(by='City', ascending=False)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
476,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,3/18/2019,16:10,Credit card,166.30,4.761905,8.3150,4.2
525,719-89-8991,A,Yangon,Member,Female,Sports and travel,91.41,5,22.8525,479.9025,2/25/2019,16:03,Ewallet,457.05,4.761905,22.8525,7.1
522,609-81-8548,A,Yangon,Member,Female,Home and lifestyle,37.44,6,11.2320,235.8720,2/6/2019,13:55,Credit card,224.64,4.761905,11.2320,5.9
513,189-52-0236,A,Yangon,Normal,Male,Electronic accessories,99.55,7,34.8425,731.6925,3/14/2019,12:07,Cash,696.85,4.761905,34.8425,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,13.9830,293.6430,1/24/2019,11:45,Cash,279.66,4.761905,13.9830,7.2
129,549-84-7482,B,Mandalay,Normal,Female,Sports and travel,90.28,9,40.6260,853.1460,2/8/2019,11:15,Ewallet,812.52,4.761905,40.6260,7.2
130,191-10-6171,B,Mandalay,Normal,Female,Fashion accessories,39.62,7,13.8670,291.2070,1/25/2019,13:18,Cash,277.34,4.761905,13.8670,7.5
603,642-30-6693,B,Mandalay,Normal,Female,Sports and travel,54.51,6,16.3530,343.4130,3/17/2019,13:54,Ewallet,327.06,4.761905,16.3530,7.8
507,862-17-9201,B,Mandalay,Normal,Female,Food and beverages,84.05,6,25.2150,529.5150,1/29/2019,10:48,Credit card,504.30,4.761905,25.2150,7.7

In [10]:
df2.iloc[476]

Invoice ID                       485-30-8700
Branch                                     A
City                                  Yangon
Gender                                Female
Product line               Sports and travel
Unit price                             33.26
Quantity                                   5
Tax 5%                                 8.315
Total                                174.615
Date                               3/18/2019
Time                                   16:10
Payment                          Credit card
cogs                                   166.3
gross margin percentage             4.761905
gross income                           8.315
Rating                                   4.2
Name: Normal, dtype: object

In [25]:
group_by_frame = df2.groupby('Product line')

In [39]:
group_by_frame.mean('Product line')

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Product line,,,,,,,,
Electronic accessories,53.551588,5.711765,15.220597,319.632538,304.411941,4.761905,15.220597,6.924706
Fashion accessories,57.153652,5.067416,14.528062,305.089298,290.561236,4.761905,14.528062,7.029213
Food and beverages,56.008851,5.471264,15.365310,322.671517,307.306207,4.761905,15.365310,7.113218
Health and beauty,54.854474,5.618421,15.411572,323.643020,308.231447,4.761905,15.411572,7.003289
Home and lifestyle,55.316937,5.693750,16.030331,336.636956,320.606625,4.761905,16.030331,6.837500
Sports and travel,56.993253,5.542169,15.812630,332.065220,316.252590,4.761905,15.812630,6.916265

In [40]:
group_by_frame.agg({'Unit price': ['mean', 'sum', 'count'], 'Quantity':['mean', 'sum', 'count']})

                       Unit price                  Quantity
                             mean       sum count      mean  sum count
Product line
Electronic accessories  53.551588   9103.77   170  5.711765  971   170
Fashion accessories     57.153652  10173.35   178  5.067416  902   178
Food and beverages      56.008851   9745.54   174  5.471264  952   174
Health and beauty       54.854474   8337.88   152  5.618421  854   152
Home and lifestyle      55.316937   8850.71   160  5.693750  911   160
Sports and travel       56.993253   9460.88   166  5.542169  920   166

In [63]:
df.groupby(['Product line', 'Branch', 'City']).mean(['Product line', 'Branch', 'City'])

                                         Unit price  Quantity     Tax 5%  \
Product line           Branch City
Electronic accessories A      Yangon      54.871167  5.366667  14.537392
                       B      Mandalay    49.854182  5.745455  14.763155
                       C      Naypyitaw   55.809455  6.054545  16.423355
Fashion accessories    A      Yangon      56.670392  5.156863  15.249775
                       B      Mandalay    54.843871  4.790323  12.606234
                       C      Naypyitaw   59.736000  5.261538  15.794923
Food and beverages     A      Yangon      54.974483  5.396552  14.091216
                       B      Mandalay    55.540000  5.400000  14.490370
                       C      Naypyitaw   57.273030  5.590909  17.147803
Health and beauty      A      Yangon      49.862340  5.468085  12.763681
                       B      Mandalay    58.185660  6.037736  17.952075
                       C      Naypyitaw   55.971346  5.326923  15.215500
Home and lifestyle     A      Yangon      55.845692  5.707692  16.422854
                       B      Mandalay    55.514000  5.900000  16.713490
                       C      Naypyitaw   54.334222  5.444444  14.704289
Sports and travel      A      Yangon      55.610339  5.644068  15.635754
                       B      Mandalay    59.678065  5.193548  15.351919
                       C      Naypyitaw   55.107333  5.888889  16.679289

                                              Total        cogs  \
Product line           Branch City
Electronic accessories A      Yangon     305.285225  290.747833
                       B      Mandalay   310.026245  295.263091
                       C      Naypyitaw  344.890445  328.467091
Fashion accessories    A      Yangon     320.245265  304.995490
                       B      Mandalay   264.730911  252.124677
                       C      Naypyitaw  331.693385  315.898462
Food and beverages     A      Yangon     295.915526  281.824310
                       B      Mandalay   304.297770  289.807400
                       C      Naypyitaw  360.103864  342.956061
Health and beauty      A      Yangon     268.037298  255.273617
                       B      Mandalay   376.993585  359.041509
                       C      Naypyitaw  319.525500  304.310000
Home and lifestyle     A      Yangon     344.879931  328.457077
                       B      Mandalay   350.983290  334.269800
                       C      Naypyitaw  308.790067  294.085778
Sports and travel      A      Yangon     328.350839  312.715085
                       B      Mandalay   322.390306  307.038387
                       C      Naypyitaw  350.265067  333.585778

                                         gross margin percentage  \
Product line           Branch City
Electronic accessories A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Fashion accessories    A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Food and beverages     A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Health and beauty      A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Home and lifestyle     A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Sports and travel      A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905

                                         gross income    Rating
Product line           Branch City
Electronic accessories A      Yangon        14.537392  6.911667
                       B      Mandalay      14.763155  7.116364
                       C      Naypyitaw     16.423355  6.747273
Fashion accessories    A      Yangon        15.249775  6.878431
                       B      Mandalay      12.606234  6.722581
                       C      Naypyitaw     15.794923  7.440000
Food and beverages     A      Yangon        14.091216  7.253448
                       B      Mandalay      14.490370  6.994000
                       C      Naypyitaw     17.147803  7.080303
Health and beauty      A      Yangon        12.763681  6.900000
                       B      Mandalay      17.952075  7.100000
                       C      Naypyitaw     15.215500  6.998077
Home and lifestyle     A      Yangon        16.422854  6.930769
                       B      Mandalay      16.713490  6.516000
                       C      Naypyitaw     14.704289  7.060000
Sports and travel      A      Yangon        15.635754  7.257627
                       B      Mandalay      15.351919  6.509677
                       C      Naypyitaw     16.679289  7.028889

In [89]:
df.groupby(['Product line', 'Branch', 'City']).agg({'Unit price': ['mean', 'sum', 'count'], 'Quantity':['mean', 'sum', 'count']}).sort_values(by=['Branch', 'City'], ascending=[False, True])

                                        Unit price                 Quantity  \
                                              mean      sum count      mean
Product line           Branch City
Electronic accessories C      Naypyitaw  55.809455  3069.52    55  6.054545
Fashion accessories    C      Naypyitaw  59.736000  3882.84    65  5.261538
Food and beverages     C      Naypyitaw  57.273030  3780.02    66  5.590909
Health and beauty      C      Naypyitaw  55.971346  2910.51    52  5.326923
Home and lifestyle     C      Naypyitaw  54.334222  2445.04    45  5.444444
Sports and travel      C      Naypyitaw  55.107333  2479.83    45  5.888889
Electronic accessories B      Mandalay   49.854182  2741.98    55  5.745455
Fashion accessories    B      Mandalay   54.843871  3400.32    62  4.790323
Food and beverages     B      Mandalay   55.540000  2777.00    50  5.400000
Health and beauty      B      Mandalay   58.185660  3083.84    53  6.037736
Home and lifestyle     B      Mandalay   55.514000  2775.70    50  5.900000
Sports and travel      B      Mandalay   59.678065  3700.04    62  5.193548
Electronic accessories A      Yangon     54.871167  3292.27    60  5.366667
Fashion accessories    A      Yangon     56.670392  2890.19    51  5.156863
Food and beverages     A      Yangon     54.974483  3188.52    58  5.396552
Health and beauty      A      Yangon     49.862340  2343.53    47  5.468085
Home and lifestyle     A      Yangon     55.845692  3629.97    65  5.707692
Sports and travel      A      Yangon     55.610339  3281.01    59  5.644068


                                         sum count
Product line           Branch City
Electronic accessories C      Naypyitaw  333    55
Fashion accessories    C      Naypyitaw  342    65
Food and beverages     C      Naypyitaw  369    66
Health and beauty      C      Naypyitaw  277    52
Home and lifestyle     C      Naypyitaw  245    45
Sports and travel      C      Naypyitaw  265    45
Electronic accessories B      Mandalay   316    55
Fashion accessories    B      Mandalay   297    62
Food and beverages     B      Mandalay   270    50
Health and beauty      B      Mandalay   320    53
Home and lifestyle     B      Mandalay   295    50
Sports and travel      B      Mandalay   322    62
Electronic accessories A      Yangon     322    60
Fashion accessories    A      Yangon     263    51
Food and beverages     A      Yangon     313    58
Health and beauty      A      Yangon     257    47
Home and lifestyle     A      Yangon     371    65
Sports and travel      A      Yangon     333    59

                                                                                    ghfjd

In [88]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

                                         Unit price  Quantity     Tax 5%  \
Product line           Branch City
Electronic accessories A      Yangon      54.871167  5.366667  14.537392
                       B      Mandalay    49.854182  5.745455  14.763155
                       C      Naypyitaw   55.809455  6.054545  16.423355
Fashion accessories    A      Yangon      56.670392  5.156863  15.249775
                       B      Mandalay    54.843871  4.790323  12.606234
                       C      Naypyitaw   59.736000  5.261538  15.794923
Food and beverages     A      Yangon      54.974483  5.396552  14.091216
                       B      Mandalay    55.540000  5.400000  14.490370
                       C      Naypyitaw   57.273030  5.590909  17.147803
Health and beauty      A      Yangon      49.862340  5.468085  12.763681
                       B      Mandalay    58.185660  6.037736  17.952075
                       C      Naypyitaw   55.971346  5.326923  15.215500
Home and lifestyle     A      Yangon      55.845692  5.707692  16.422854
                       B      Mandalay    55.514000  5.900000  16.713490
                       C      Naypyitaw   54.334222  5.444444  14.704289
Sports and travel      A      Yangon      55.610339  5.644068  15.635754
                       B      Mandalay    59.678065  5.193548  15.351919
                       C      Naypyitaw   55.107333  5.888889  16.679289

                                              Total        cogs  \
Product line           Branch City
Electronic accessories A      Yangon     305.285225  290.747833
                       B      Mandalay   310.026245  295.263091
                       C      Naypyitaw  344.890445  328.467091
Fashion accessories    A      Yangon     320.245265  304.995490
                       B      Mandalay   264.730911  252.124677
                       C      Naypyitaw  331.693385  315.898462
Food and beverages     A      Yangon     295.915526  281.824310
                       B      Mandalay   304.297770  289.807400
                       C      Naypyitaw  360.103864  342.956061
Health and beauty      A      Yangon     268.037298  255.273617
                       B      Mandalay   376.993585  359.041509
                       C      Naypyitaw  319.525500  304.310000
Home and lifestyle     A      Yangon     344.879931  328.457077
                       B      Mandalay   350.983290  334.269800
                       C      Naypyitaw  308.790067  294.085778
Sports and travel      A      Yangon     328.350839  312.715085
                       B      Mandalay   322.390306  307.038387
                       C      Naypyitaw  350.265067  333.585778

                                         gross margin percentage  \
Product line           Branch City
Electronic accessories A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Fashion accessories    A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Food and beverages     A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Health and beauty      A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Home and lifestyle     A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905
Sports and travel      A      Yangon                    4.761905
                       B      Mandalay                  4.761905
                       C      Naypyitaw                 4.761905

                                         gross income    Rating
Product line           Branch City
Electronic accessories A      Yangon        14.537392  6.911667
                       B      Mandalay      14.763155  7.116364
                       C      Naypyitaw     16.423355  6.747273
Fashion accessories    A      Yangon        15.249775  6.878431
                       B      Mandalay      12.606234  6.722581
                       C      Naypyitaw     15.794923  7.440000
Food and beverages     A      Yangon        14.091216  7.253448
                       B      Mandalay      14.490370  6.994000
                       C      Naypyitaw     17.147803  7.080303
Health and beauty      A      Yangon        12.763681  6.900000
                       B      Mandalay      17.952075  7.100000
                       C      Naypyitaw     15.215500  6.998077
Home and lifestyle     A      Yangon        16.422854  6.930769
                       B      Mandalay      16.713490  6.516000
                       C      Naypyitaw     14.704289  7.060000
Sports and travel      A      Yangon        15.635754  7.257627
                       B      Mandalay      15.351919  6.509677
                       C      Naypyitaw     16.679289  7.028889